
langchain==1.2.12
langchain-openai==1.1.10
langchain-core==1.2.19

fastapi==0.135.1
uvicorn[standard]==0.34.0

pydantic==2.12.5
python-dotenv==1.2.1


langchain-community
faiss-cpu
sqlalchemy[asyncio]
asyncpg
openai
langchain-text-splitters

osmnx
networkx